cifar10-custom-resnet-cnn-pytorch-97-acc.ipynb
Enunciado.pdf
Informe.docx
Rápida introducción a AWS.pdf
~$nforme.docx
Entrega Final.ipynb
clave-cifar10-block.pem
clave-cifar10-priv.ppk
clave-cifar10.pem
clave-cifar10.ppk
Guia.docx
labsuser.pem